body {
    min-width: 30em;
}
img {
    height: 16px;
    margin: 2px;
}
tr {
    vertical-align: top;
}
tr:nth-child(even) {
    background-color: #f4f4f4;
}
tr:hover {
    background-color: #f2fafe;
}
.details {
    white-space: pre;
}
