body {
    min-width: 30em;
    -moz-user-select: text;
}
img {
    height: 16px;
    margin: 2px;
}
table {
    border-collapse: collapse;
}
tr {
    vertical-align: top;
}
tr:nth-child(even) {
    background-color: #f4f4f4;
}
tr:hover {
    background-color: #f2fafe;
}
td {
    padding: 3px;
}
.details div {
    max-height: 5em;
    overflow: hidden;
    white-space: pre;
}
.expanded .details div {
    max-height: none;
}
